[submodule "src/main/java/com/dmos/dmos_socketserver/dmos_common"]
	path = src/main/java/com/dmos/dmos_socketserver/dmos_common
	url = https://github.com/SpiritSoda/dmos_common
[submodule "src/main/java/com/dmos/dmos_socketserver/dmos_server"]
	path = src/main/java/com/dmos/dmos_socketserver/dmos_server
	url = https://github.com/SpiritSoda/dmos_server
